name: "Cleanup: delete untagged container"
on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 0'

jobs:
  delete_versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          min-versions-to-keep: 10
          package-name: ryzom-patch-info
          package-type: container
